.slider-container {
    border: solid 2px #ccc;
    width: 200px;
    height: 20px;
    position: relative;
    left: default;
    border-radius: 12px;
}

.slider-knob {
    width: 20px;
    background-color: #777;
    display: inline-block;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
    position: relative;
}

.slider-text {
    display: inline;
}